<%- include('partials/head') %>


    <body>
        <%- include('partials/navbar') %>

            <h1>all the cats</h1>
            <ul>
                <% for (let cat of cats) { %>
                    <li>
                        <%= cat %>
                    </li>

                    <% } %>
            </ul>
    </body>

    </html>