<%- include('partials/head') %>

    <body>
        <%- include('partials/navbar') %>

            <h1>HOME PAGE <%= 4+5+1 %>
            </h1>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Vel eaque est voluptates distinctio impedit
                reprehenderit nihil consequuntur natus velit hic id fuga odio perferendis, praesentium sequi excepturi
                ut
                ratione repudiandae. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eos distinctio, minima
                dicta
                nam
                dignissimos earum qui voluptatum nemo cumque modi ullam error tenetur eum aliquid incidunt alias et
                laborum
                rem?
            </p>
    </body>

    </html>